<?xml version="1.0" encoding="UTF-8"?>
<!-- 启用缓存注解 -->  
<cache:annotation-driven cache-manager="cacheManager" />  
  
<!-- cacheManager工厂类，指定ehcache.xml的位置 -->  
<bean id="cacheManagerFactory"  
    class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"  
    p:configLocation="classpath:/config/ehcache.xml" />  
  
<!-- 声明cacheManager -->  
<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"  
    p:cacheManager-ref="cacheManagerFactory" /> 